
.cropped1 {
width: 200px; 
height: 200px; 
object-fit: cover;
border: 5px solid black;
}
.cropped2 {
width: 200px; 
height: 200px; 
object-fit: cover;
object-position: 20% 10%; 
border: 5px solid black;
}
